*\.autogen_bak
*\.bz2
*\.deb
*\.desktop
*\.gmo
*\.gz
*\.la
*\.lo
*\.o
*\.pc
*\.rpm
\.deps
\.libs
Makefile.in
Makefile
a\.out
aclocal\.m4
autom4te\.cache
compile
config\.*
configure
core.*
depcomp
install-sh
intltool-*
libtool
ltmain.*
missing
mkinstalldirs
po/Makefile*
po/POTFILES
po/\.intltool*
src/ccpanel/im-chooser-panel.desktop.in
src/im-chooser.desktop.in
src/im-chooser
stamp-*
